<div class="mx-auto">
  <.header>
    New Group
    <:subtitle>Use this form to manage group records in your database.</:subtitle>
  </.header>

  <.group_form changeset={@changeset} action={~p"/admin/groups"} />

  <.back navigate={~p"/admin/groups"}>Back to groups</.back>
</div>
