<.header>
  New Dish
  <:subtitle>Use this form to manage dish records in your database.</:subtitle>
</.header>

<.dish_form changeset={@changeset} action={~p"/dishes"} />

<.back navigate={~p"/dishes"}>Back to dishes</.back>
