<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name_de]} type="text" label="Name de" />
  <.input field={f[:name_en]} type="text" label="Name en" />
  <.input field={f[:price]} type="text" label="Price" />
  <.input field={f[:category]} type="text" label="Category" />
  <:actions>
    <.button>Save Dish</.button>
  </:actions>
</.simple_form>
