<.header>
  New Dish
  <:subtitle>Use this form to manage dish records in your database.</:subtitle>
</.header>

<.dish_form changeset={@changeset} action={~p"/admin/dishes"} />

<.back navigate={~p"/admin/dishes"}>Back to dishes</.back>
