<!DOCTYPE html>
<html lang={Gettext.get_locale(MensaplanWeb.Gettext)} class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta
      name="keywords"
      content={
        gettext(
          "mensa, mensaplan, tum, garching, friends, menu, lunch, food, canteen, university, students, social"
        )
      }
    />
    <meta
      name="description"
      content={
        gettext(
          "The hottest tool in Garching to find friends in the TUM Mensa. Checkout today's menu complete with ratings to guide your culinary journey."
        )
      }
    />
    <meta
      property="og:description"
      content={
        gettext(
          "The hottest tool in Garching to find friends in the TUM Mensa. Checkout today's menu complete with ratings to guide your culinary journey."
        )
      }
    />
    <% host = MensaplanWeb.Endpoint.url() %>
    <meta property="og:type" content="website" />
    <meta property="og:url" content={host <> Phoenix.Controller.current_path(@conn, %{})} />
    <link rel="canonical" href={host <> Phoenix.Controller.current_path(@conn, %{})} />
    <link
      rel="alternate"
      href={host <> change_locale(@conn, Gettext.get_locale(MensaplanWeb.Gettext), "en")}
      hreflang="x-default"
    />
    <link
      rel="alternate"
      href={host <> change_locale(@conn, Gettext.get_locale(MensaplanWeb.Gettext), "de")}
      hreflang="de"
    />
    <meta property="og:image" content={proxy_image("/images/tumensa-people.jpg", "width=800")} />
    <meta name="theme-color" content="#3B82F6" />
    <meta
      property="og:title"
      content={(assigns[:page_title] || gettext("Homepage")) <> " · Mensaplan"}
    />
    <.live_title suffix=" · Mensaplan">
      <%= assigns[:page_title] || gettext("Homepage") %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased flex flex-col min-h-screen">
    <.navbar conn={@conn} />

    <%= @inner_content %>

    <div class="grow"></div>
    <footer>
      <div class="flex flex-col sm:flex-row items-center justify-evenly p-2 text-sm text-bo">
        <img class="h-4 w-4" src={~p"/images/logo.svg"} alt={gettext("food cover")} />
        <span>
          ©<%= Mensaplan.Helpers.local_now().year %> Gabriel
        </span>
        <span>
          <%= gettext("Version %{version}", version: Application.spec(:mensaplan, :vsn)) %>
        </span>
      </div>
    </footer>
  </body>
</html>
